.offers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10px;
  grid-gap: 20px;
}
.offers-container img {
  width: 100%;
}
@media (max-width: 600px) {
  .offers-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 30px;
    grid-gap: 20px;
  }
}
